.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
}

.fs-1{
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
    flex-direction: row;
}

.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    background-color: #C3BA85;
}

h4{
    text-decoration: underline;
}

.enlaces{
    text-decoration: none;
    color: black;
}

.h3{
    text-decoration: underline;
    text-align: center;
    margin-top: 0.5rem;
}

.imagenPackaging{
    height: 15rem;
    margin: 0.5rem;
}

.divImagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.video{
    height: 20rem;
    width: 20rem;
}

.divVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
}

.quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 00.8rem;
}

.fs-3{
    text-align: center;
}

li{
    list-style:none;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.containerC {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3rem;
}

.fs-3{
    text-decoration: underline;
}

